/* ------------------------ FUENTE POPPINS ------------------------*/
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:medium;
  }
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: normal;
  }

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:medium;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ------------------------- BARRA DE NAVEGACIÓN ---------------------------*/
#actual {
    color: #fdcb22  ;
}

.nav-menu {
    list-style: none;        
    padding: 0;              
    margin: 0;              
    display: flex;           
    gap: 20px;               
}

.zovthro-nav {
    display: flex;
    align-items: center;       
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
}

.zovthro-nav img {
    width: 14%;
    aspect-ratio: 1/0.4;
    object-fit: contain;
}

.nav-menu li {
    margin: 0;               
}

.nav-menu a {
    text-decoration: none;   
    color: #fff;             
    padding: 10px 15px;      
}

.ingresar {
    background-color: #fdcb22;
    border-radius: 3px;
    border:solid transparent;
    padding: 10px 20px;
    color: #000;      
    cursor: pointer; 
}
.nav-menu li:hover {
    transition: 200ms;
    color: #ffeeb6;
    transform: scale(1.09);
}

.ingresar:hover {
    transition: 200ms;
    background-color: #ffffff;
    transform: scale(1.05);
}

.menu-icon {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
}

/* -------------------------- PRIMERA SECCIÓN ------------------------*/
.contact-us-image {
    position: relative;
    background-image: url("../logos/Recurso 2-8.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

/* ------------------------- SEGUNDA SECCIÓN -------------------------*/
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.description p {
    width: 55%;
    text-align: center;
    font-size: 1.1em;
}

/* ------------------------- TERCERA SECCIÓN --------------------------*/
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.form-container {
    width: 70%;
    height: 50%;
}

.form-container {
    display: flex;
    background-color: rgb(29 29 29);
    justify-content: space-around;
    box-sizing: border-box;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #ffffff;
    padding: 4%;
    box-sizing: border-box;
    gap: 10px;
}

.form-container form  h2 {
    font-size: 2.3em;
    margin: 0 0 5% 0;
}

.form-container form label {
    font-size: 0.9em;
    color: #dbdbdb;
}

.form-container img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 35%;
}

input[type="text"], input[type="email"], button[type="submit"] {
    padding: 18px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input[type="email"] {
    margin-bottom: 8%;
}

button[type="submit"] {
    background-color: rgb(253 203 34);
}

button[type="submit"]:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* ---------------------- FOOTER --------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3% 7% 3% 3%;
    flex-wrap: wrap; 
}

#zovthro-footer{
    aspect-ratio: 1/0.4;
    object-fit: contain;
    width: 22%; 
}

.footer-social {
    display: flex;
}

.footer-social img {
    max-width: 40px; 
    padding: 8px;
}

.footer-contact h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.footer-contact p, .footer-location p{
    margin: 0 0 5px 0;
    font-size: 1em;
    color: #ccc; 
}

.footer-location {
    height: 65px;
    display: flex;
    align-items: start;
}

@media screen and (max-width: 1518px){
    .contact-us-image {
        height: 50vh;
    }
}

@media  screen and (max-width: 1000px) {
    .contact-us-image {
        height: 40vh;
    }
}
@media screen and (max-width: 768px) {
    /* BARRA DE NAVEGACIÓN*/
    .zovthro-nav img {
        width: 20%;
    }
    
    .zovthro-nav.menu {
        flex-direction: column;
    }

    .nav-menu {
        display: none;
    }

    .ingresar {
        display: none;
    }

    .ingresar.s {
        display: inline;
        align-self: center;
    }

    .nav-menu.show {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: black;
        padding: 20px;
    }

    .menu-icon {
        display: inline; 
    }

    .ingresar {
        margin: 10px 0;
        align-self: flex-start;
    }

    /* PRIMERA SECCIÓN */
    .contact-us-image {
        height: 40vh;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        align-items: start;
    }

    #zovthro-footer{
        align-self: center;
        width: 35%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    /* BARRA DE NAVEGACIÓN */
    .zovthro-nav img {
        width: 30%;
    }

    .nav-menu a {
        padding: 5px 10px;
    }

    .poppins-bold.titulo {
        font-size: 1.8em;
        line-height: 2rem;
    }

    .principal {
        width: 90%;
    }

    #persona {
        width: 80%;
    }

    /* PRIMERA SECCIÓN */
    .contact-us-image {
        height: 25vh;
    }
}